//fonts
@import url(http://fonts.googleapis.com/css?family=Lobster);

// variables 
$Lobster: 'Lobster', cursive;
$Candara: Candara, sans-serif;
$IconColor: #f8eecf;
$IconBg-B: #59554d;
$IconBg-A: #2e291e;
$pink: rgba(214, 119, 157, 1);

html {
	min-height: 100%;
}

//bag 
title {
	display: none;
}
//

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-image: url(images/bfon.png);
	background-size: 25px;
	overflow-x: hidden;
	font-weight: normal;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row {
	position: relative;
	zoom: 1;
}

//slider
.bx-wrapper {
	margin: 40px auto;
	width: 800px;
	position: relative;
	.bx-pager {
		display: none;
	}

	.bx-prev,
	.bx-next {
		position: absolute;
		top: 135px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}

	.bx-prev {
		left: -61px;
		background: #fff url(images/left.png) no-repeat center;
		background-size: 80% 80%;
		cursor: pointer !important;

	}
	.bx-next {
		right: -61px;
		background: #fff url(images/right.png) no-repeat center;
		background-size: 80% 80%;
		cursor: pointer !important;
	}
}

.error-input {
	&:required:focus {
	  box-shadow: 0  0 3px rgba(255,0,0,0.5); 
	  background: rgba(255,0,0,0.15) !important;
	}
}

// Popup form
#modal_form {
	width: 480px;
	height: 308px;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -154px;
	margin-left: -240px;
	display: none;
	opacity: 0;
	z-index: 5;

	.over-form {
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
	}

	.forma {
				width: 100%;
				position: relative;

				img {
					width: 80%;
					height: auto;
					margin: 0 auto;
					margin-left: -15px;
				}

				.ss-form {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					padding-top: 9%;

					.text-form {
						margin: 0 auto;
						width: 40%;
						font-family: $Candara;
						h2 {
							font-size: 1.3em;
							font-weight: 100;
						}
						p {
							font-size: 0.7em;
							font-weight: 100;
						}
					}

					form {
						margin: 10px auto;
						width: 40%;
						position: relative;

						.button-2 {
							width: 164px;
							height: 54px;
							margin: 0 auto;
							margin-top: 25px;
							position: relative;
							overflow: hidden;
						}

						input {
							width: 160px;
							height: 30px;
							margin-top: 15px;
							// padding-left: 10px;
							font-size: 15px;
							background: rgba(255, 255, 255, .5);
							border: 1px solid rgba(0,0,0,.6);
							border-radius: 3px;
							text-align: center;
							outline: 0;

						}


						.jfk-button {
							margin: 0 auto;
							box-shadow: -0.5px 2px 4px 0px rgb( 0, 0, 0 );
							background-color: rgba( 30, 136, 229, 0.502 );
							height: 50px;
							border-radius: 3px;
							border: none;
							font-family: 'attentica';
							font-size: 2em;
							padding-top: 10px;
							padding-left: 0;
							cursor: pointer;
							text-align: center;
							outline: 0;
						}

						.success-message {
							z-index: 2;
							line-height: 50px;
							font-size: 1.8em;
							padding-top: 4px;
							// bottom: 4px;
							bottom: 54px;
							left: 2px;
							border-radius: 3px;
							position: absolute;
							font-family: 'attentica';
							width: 160px;
							height: 50px;
							text-align: center;
							background-color: rgba( 39, 174, 96, 1);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}

						.animate-b {
							animation: slideDown .35s both, slideUp .4s 3s forwards;
						}

						.success-b {
							background-color: rgba( 39, 174, 96, .8);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}
					}
				}
	}
}

#modal_close {
	width: 30px;
	height: 30px;
	z-index: 5;
	position: absolute;
	background-image: url(images/close.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index: 3;
	position: fixed;
	background: #000;
	opacity: .9;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

// --------- END Popup

.error-m-name {
	display: none;
	position: absolute;
	color: #fff;
	border-radius: 2px;
	font-size: 15px;
	padding: 2px 5px;
	background: rgba(231, 76, 60,1.0);
}
#error-m-1, #error-m-2,
#error-m-3 {
	display: none;
	position: absolute;
	width: 140px;
	color: #fff;
	border-radius: 2px;
	font-size: 15px;
	padding: 2px 5px;
	background: rgba(231, 76, 60,1.0);
	bottom: 57px;
	left: 26px;
}

.head {
	.h-number, .h-logo, .h-social {
		display: inline-block;
		float: left;
	}

	.h-number {
		width: 20%;
		padding-top: 25px;
		text-align: center;

		p {
			padding: 10px;
			color: #fff;
			font-family: $Candara;
			font-weight: 100;
			font-size: 1.1em;
			// background: rgba(58, 58, 60, .7);
			background: url(images/number.png) no-repeat;
			background-position: 16px 3px;
			background-size: 85%;
		}
	}

	.h-logo {
		width: 60%;
		text-align: center;
		padding-top: 10px;
		position: relative;

		.logo-img {
			margin: 0 auto;

			img {
				margin: 0 auto;
				height: auto;
				width: 380px;
			}
		}
	}
	.h-social {
		margin: 0;
		padding: 0;
		width: 20%;
		padding-top: 40px;
		padding-left: 0;

		.social-list {
			width: 100%;
			list-style: none;
			text-align: center;
			margin: 0;

			li {
				display: inline-block;
				float: none;
				height: 30px;
				width: 30px;
				text-align: center;
				padding: 3px;
				line-height: 25px;
				position: relative;
				margin-right: 5px;
				opacity: .7;
				transition: opacity .1s;

				&:hover {
					opacity: 1;
				}

				svg {
					position: absolute;
					top: 0;
					left: 0;

					circle {
						stroke-dasharray: 3;
						stroke: $IconBg-A;
						stroke-width: 1;
						fill: none;
					}
				}
			
				a {
					display: block;
					border-radius: 50%;
					text-decoration: none;
					color: $IconColor;
					background: $IconBg-B;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.bonus {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		position: relative;
		padding-top: 9px;

		img {
			// width: 100%;
			margin: 0 auto;
		}
		
		.over-bonus {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding-top: 18px;
		}

		h2 {
			font-family: $Candara;
			color: #fff;
			text-shadow: 1px 3px 6px rgb( 0, 0, 0 );
		}
	}
}

.inform {

	.wrap {
		margin: 0 auto;
		position: relative;
	}

	.two-images {
		position: relative;
		img {
			width: 960px;
			height: auto;
		}
	}

	.over-inform {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		.topform {
			margin: 0 auto;
			width: 50%;
			text-align: center;
			padding-top: 60px;

			h1 {
				font-family: $Lobster;
				font-weight: normal;
				color: #fff;
				font-size: 2.4em;
				font-weight: 400;
				letter-spacing: 2px;
				text-shadow: 
					-1px -1px 0 #000,
					1px -1px 0 #000,
					-1px 1px 0 #000,
					1px 1px 0 #000,
					2.5px 4.33px 5px rgb( 0, 0, 0 );
			}

			.forma {
				margin-top: 60px;
				width: 100%;
				position: relative;

				img {
					width: 80%;
					height: auto;
					margin: 0 auto;
					margin-left: -15px;
				}

				.ss-form {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					padding-top: 9%;

					.text-form {
						margin: 0 auto;
						width: 40%;
						font-family: $Candara;
						h2 {
							font-size: 1.3em;
							font-weight: 100;
						}
						p {
							font-size: 0.7em;
							font-weight: 100;
						}
					}

					form {
						margin: 10px auto;
						width: 40%;
						position: relative;

						.button-2 {
							width: 164px;
							height: 54px;
							margin: 0 auto;
							margin-top: 25px;
							position: relative;
							overflow: hidden;
						}

						input {
							width: 160px;
							height: 30px;
							margin-top: 15px;
							// padding-left: 10px;
							font-size: 15px;
							background: rgba(255, 255, 255, .5);
							border: 1px solid rgba(0,0,0,.6);
							border-radius: 3px;
							text-align: center;
							outline: 0;
						}


						.jfk-button {
							margin: 0 auto;
							box-shadow: -0.5px 2px 4px 0px rgb( 0, 0, 0 );
							background-color: rgba( 30, 136, 229, 0.502 );
							height: 50px;
							border-radius: 3px;
							border: none;
							font-family: 'attentica';
							font-size: 2em;
							padding-top: 10px;
							padding-left: 0;
							cursor: pointer;
							text-align: center;
							outline: 0;
						}

						.success-message {
							z-index: 2;
							line-height: 50px;
							font-size: 1.8em;
							padding-top: 4px;
							// bottom: 4px;
							bottom: 54px;
							left: 2px;
							border-radius: 3px;
							position: absolute;
							font-family: 'attentica';
							width: 160px;
							height: 50px;
							text-align: center;
							background-color: rgba( 39, 174, 96, 1);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}

						.animate-b {
							animation: slideDown .35s both, slideUp .4s 3s forwards;
						}

						.success-b {
							background-color: rgba( 39, 174, 96, .8);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}
					}
				}
			}
		}
	}

	.wrap-2 {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: -18;

		.img-opisanie {
			img {
				width: 70%;
				margin-top: -390px;
			}
		}
	}

	.opisanie {
		position: absolute;
		top: -10px;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		width: 960px;
		height: 133px;

		h3 {
			width: 70%;
			height: 100%;
			margin: 0 auto;
			padding: 20px 30px;
			font-size: 16px;
			text-align: justify;
			text-indent: 15px;
			line-height: 1.2em;
			font-family: $Candara;
			font-weight: 100;
			color: #3a3a3a;
		}
	}
}

// Animation 

@keyframes slideDown {
	0% { bottom:  55px;}
	100% { bottom: 4px;}
}

@keyframes slideUp {
	0% { bottom: 4px;}
	100% { bottom: 55px;}
}



.personal {
	margin-top: 30px;

	h1 {
		text-align: center;
		font-family: $Lobster;
		font-weight: normal;
		color: #3a3a3c;
		text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	}

	.stars-img {
		width: 100%;
		text-align: center;
		margin-top: 80px;
		img {
			width: 100%;
			height: auto;
		}
	}

	.pers-message {
		width: 100%;
		text-align: center;

		.text-pers {
			width: 60%;
			margin: 0 auto;
			text-align: center;
			position: relative;
			padding-top: 35px;
			font-family: $Candara;

			.pred-3 {
				width: 60%;
				padding-top: 20px;
				margin: 0 auto;
				text-align: center;

				img {
					width: 100%;
				}
				p {
					margin-top: 35px;
					color: #fff;
					font-style: italic;
					font-weight: bold;
					background: $pink;
					border-radius: 5px;
				}
			}

			.abs-img {
				position: absolute;
			}

			.abs-img-girl {
				top: 70px;
				left: -180px;
			}
			.abs-img-torts {
				top: 70px;
				right: -150px;
			}
			.img-oblako {
				img {
					margin-left: -20px;
				}
			}
			.over-img-oblako {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				padding-top: 80px;

				h2 {
					font-size: 20px;
					font-weight: 100;
				}

				p {
					font-size: 14px;
					font-weight: 100;
					padding: 10px;
					height: 51px;
				}
			}
		}
	}
}

.ready-tort {
	margin-top: 40px;
	text-align: center;

	h1 {
		font-size: 30px;
		font-family: $Lobster;
		font-weight: normal;
		text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	}

	.gallery {
		margin-top: 20px;
		position: relative;

		.tort-gallery {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			
			.card-gallery {
				font-family: Cambria;
				// background: rgba(255, 255, 255, .6);
				
				.top-card {
					width: 100%;
					height: 150px;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}

				.bot-card {
					width: 100%;
					height: 170px;
					padding-top: 10px;
					position: relative;

					.b-card-1 {
						min-height: 55px;
						font-size: 14px;
						padding: 5px;
					}
				}

				button {
					border: none;
					text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
					color: #fff;
					font-family: $Lobster;
					font-weight: normal;
					font-size: 18px;
					position: absolute;
					background: rgb(214,119,157);
					border-radius: 5px;
					width: 80px;
					height: 40px;
					margin-top: 20px;
					bottom: 5px;
					outline: 0;
					left: 70px;
					cursor: pointer;

					&:hover {
						background-color: darken(rgb(214,119,157), 8%);
					}
				}
			}
		}
	}

	.bg-gallery {
		img {
			width: 100%;
		}
	}

	.img-tr-flags {
		width: 100%;
		height: auto;
		img { width: 100%; height: auto;}
	}
}


.price-tort {
	padding-top: 35px;
	.img-tarelka {
		width: 100%;
		text-align: center;
		margin-bottom: 60px;
		img { width: auto;}
	}
	img {
		width: 100%;
		height: auto;
	}
}

.advantages {
	text-align: center;
	padding-top: 50px;

	h1 {
		font-family: $Lobster;
		font-weight: normal;
		text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	}
	img {
		width: 70%;
		margin-top: 35px;
		margin-left: -32px;
	}
}

.reviews {
	padding-top: 60px;
	h1 {
		font-family: $Lobster;
		font-weight: normal;
		text-align: center;
		text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
	}

	.card-reviews {
		width: 100%;
		margin-top: 70px;

		&:after {
			content: '.';
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		h2 {
			font-family: $Lobster;
			font-weight: normal;
			text-align:  center;
		}

		.photo-rev {
			height: 51px;
		}

		.text-rev {
			height: 236px;
		}

		.block-rev {
			display: inline-block;
			float: left;
			width: 28%;
			margin-left: 2px;
			background-image: url(images/reviews.png);
			background-size: cover;
			padding: 0px 20px 20px;
			position: relative;

			&:first-child {
				margin-left: 75px;
			}

			.photos, .title-rev {
				display: inline-block;
				float: none;
			}

			.photos {
				position: absolute;
				width: 81px;
				height: 81px;
				margin-top: -37px;
				background: url(images/photos.png) no-repeat;
				background-size: cover;
			}

			.photo-2 {
				background-position: -81px 0;
			}

			.photo-3 {
				background-position: -162px 0;
			}

			.title-rev {
				width: 100%;
				padding-left: 100px;
				font-size: 12px;
				padding-top: 5px;
			}

			.text-rev {
				padding-top: 20px;
				text-indent: 15px;
				font-family: $Candara;
				line-height: 18px;
				font-size: 13px;
				text-align: justify;
			}

			.author-rev {
				height: 23px;
				width: 100%;
				margin-top: 45px;
				font-size: 18px;
				text-align: right;
				font-family: $Lobster;
				font-weight: normal;
			}

		}


	}
}

.footer {

	.container {
		padding-top: 30px;
		background: url(images/salf.png) no-repeat;
		background-size: cover;
		background-position: 0 149px;
		position: relative;
	}



	// .contacts, .forma-footer, .social-footer {
	// 	display: inline-block;
	// 	float: none;
	// }

	.contacts, .social {
		width: 25%;
	}

	.contacts {
		position: absolute;
		left: 0;
		top: 210px;
		padding-left: 40px;
		font-family: $Candara;

		p:last-child {
			padding-top: 20px;
		}
	}

	.forma-footer {
		width: 50%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		img {
			width: 80%;
			height: auto;
			margin: 0 auto;
			margin-left: -15px;
		}

		.forma {
				margin-top: 60px;
				width: 100%;
				position: relative;

				img {
					width: 80%;
					height: auto;
					margin: 0 auto;
					margin-left: -15px;
				}

				.ss-form {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					padding-top: 9%;

					.text-form {
						margin: 0 auto;
						width: 40%;
						font-family: $Candara;
						h2 {
							font-size: 1.3em;
							font-weight: 100;
						}
						p {
							font-size: 0.7em;
							font-weight: 100;
						}
					}

					form {
						margin: 10px auto;
						width: 40%;
						position: relative;

						.button-2 {
							width: 164px;
							height: 54px;
							margin: 0 auto;
							margin-top: 25px;
							position: relative;
							overflow: hidden;
						}

						input {
							width: 160px;
							height: 30px;
							margin-top: 15px;
							// padding-left: 10px;
							font-size: 15px;
							background: rgba(255, 255, 255, .5);
							border: 1px solid rgba(0,0,0,.6);
							border-radius: 3px;
							text-align: center;
							outline: 0;

						}


						.jfk-button {
							margin: 0 auto;
							box-shadow: -0.5px 2px 4px 0px rgb( 0, 0, 0 );
							background-color: rgba( 30, 136, 229, 0.502 );
							height: 50px;
							border-radius: 3px;
							border: none;
							font-family: 'attentica';
							font-size: 2em;
							padding-top: 10px;
							padding-left: 0;
							cursor: pointer;
							text-align: center;
							outline: 0;
						}

						.success-message {
							z-index: 2;
							line-height: 50px;
							font-size: 1.8em;
							padding-top: 4px;
							// bottom: 4px;
							bottom: 54px;
							left: 2px;
							border-radius: 3px;
							position: absolute;
							font-family: 'attentica';
							width: 160px;
							height: 50px;
							text-align: center;
							background-color: rgba( 39, 174, 96, 1);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}

						.animate-b {
							animation: slideDown .35s both, slideUp .4s 3s forwards;
						}

						.success-b {
							background-color: rgba( 39, 174, 96, .8);
							color: #eee;
							padding-left: 15px;
							background-image: url(images/check.png);
							background-repeat: no-repeat;
							background-size: 30px;
							background-position: 8px 11px;
							cursor: default;
						}
					}
				}
			}
	}

	.social-footer {
		position: absolute;
		right: 35px;
		top: 210px;

		p {
			font-family: $Candara;
			text-align: center;
			padding: 10px;
		}
		.social-list {
			width: 100%;
			list-style: none;
			text-align: center;
			margin: 0;

			li {
				display: inline-block;
				float: none;
				height: 30px;
				width: 30px;
				text-align: center;
				padding: 3px;
				line-height: 25px;
				position: relative;
				margin-right: 5px;
				opacity: .7;
				transition: opacity .1s;

				&:hover {
					opacity: 1;
				}

				svg {
					position: absolute;
					top: 0;
					left: 0;

					circle {
						stroke-dasharray: 3;
						stroke: $IconBg-A;
						stroke-width: 1;
						fill: none;
					}
				}
			
				a {
					display: block;
					border-radius: 50%;
					text-decoration: none;
					color: $IconColor;
					background: $IconBg-B;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.copyright {
		padding: 15px;
		text-align: center;
		font-family: $Candara;
	}
}